.buttons {
    display: flex;
    text-align: center;
    font-family: Eras;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-left: -10px;
    z-index: 3;
}
.CPSCounter {
    color: white;
}
.slider{
    display: flex;
    text-align: center;
    font-family: Eras;
    align-items: center;
    justify-content: center;
    margin-top: -190px;
    z-index: 3;
    margin-left: -10px;
}
input[type="range"] {
    width: 510px; 
}
.btn {
    width: 90px;
    height: 35px;
}
.ClickerConfig {
    margin-bottom: -180px;
}
.startbutton {
    margin-left: 260px;
}
@font-face {
    font-family: Eras; 
    src: url(../../resources/font/ErasBoldITC.ttf);
  }